.yt-debug {
    cursor: pointer;
    text-align: left;
    background-color: #dddddd;
    color: #000000;
}

.tx-ns-youtube iframe.__youtube_prefs__ {
    border-width: 0;
}

.tx-ns-youtube iframe {
    margin-bottom: 25px !important;
    height: 400px;
    max-width: 100%;
    width: 100%;
}

/*.error {
    text-align: center;
    color: red;
}*/

.yt-gallery {
    text-align: center;
}

.ytp-title-channel {
    display: none;
}

.yt-gallery iframe {
    margin-bottom: 0;
}

.yt-gallery.yt-lb iframe {
    display: none;
    height: 0 !important;
}

.yt-gallery-list {
    margin: 20px auto;
    position: relative;
    transition: opacity ease-out 0.3s;
    display: block;
    color: #888888;
}

.yt-gallery-list p {
    display: none;
}

.yt-gallery-clear {
    clear: both;
}

.yt-gallery-list.yt-loading {
    opacity: 0.5;
    transition: opacity ease-out 0.3s;
}

.yt-gallery-thumb {
    box-sizing: border-box;
    overflow-y: hidden;
    display: initial;
    cursor: pointer;
    opacity: 1;
    float: left;
    padding: 0 8px 10px 8px;
}

.yt-gallery-thumb.hover {
    position: relative;
    opacity: 1;
    transition: opacity ease-out 0.3s;
}

.yt-gallery-img-box {
    width: 100%;
}

.yt-gallery-img {
    height: 0;
    width: 100%;
    padding-top: 56.25% !important;
    position: relative;
    overflow: hidden !important;
    background-size: cover !important;
    background-position: center !important;
}

.yt-gallery-playhover {
    opacity: 0;
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    transition: opacity ease-out 0.3s;
}

.yt-gallery-thumb.hover .yt-gallery-playhover,
.yt-gallery-thumb.yt-current-video .yt-gallery-playhover {
    opacity: 1;
    top: 0;
    transition: all ease-out 0.3s;
}

.yt-gallery-thumb .yt-gallery-playcrutch {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    width: 0;
}

.yt-gallery-playhover .yt-play-img {
    height: auto !important;
    max-width: 15% !important;
    padding: 0 !important;
    margin: 0 !important;
    min-width: 30px !important;
    vertical-align: middle !important;
    display: inline-block !important;
    width: auto;
    border: none;
    box-sizing: border-box;
}

.yt-gallery-title {
    font-size: 80%;
    line-height: 120%;
    padding: 10px;
}

.yt-gallery-notitle {
    padding: 4px;
}

.yt-gallery-notitle span {
    display: none;
}

.yt-gallery-rowtitle {
    text-align: center;
    width: 100%;
    position: absolute;
    left: 0;
    top: 100%;
    opacity: 0;
    z-index: 10;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.yt-gallery-rowtitle.hover {
    opacity: 1;
    transition: opacity linear 0.2s;
}

.yt-gallery-rowbreak {
    clear: both;
}

.yt-pagination {
    clear: both;
    text-align: center;
    padding: 10px 8px 10px 8px;
}

.yt-pagination > div,
.yt-pagenumbers > div {
    display: inline-block;
    padding: 0 2px 0 2px;
    vertical-align: middle;
}

.yt-pagenumbers {
    font-size: 90%;
}

.yt-pagenumbers a {
    text-decoration: none;
    color: #888888;
    cursor: pointer;
}

.yt-pagenumbers .active {
    color: #181818;
}

.yt-pagination .yt-pagebutton {
    display: inline-block;
    padding: 0 10px 0 10px;
}

.yt-pagebutton > div {
    display: inline;
}

.yt-pagination .yt-loader {
    display: none;
}

.yt-gallery-list.yt-loading .yt-pagination .yt-loader {
    display: inline-block;
}
.yt-gallery-list .arrow {
    vertical-align: initial;
}
body .lity-container {
    width: 100%;
    max-width: 964px;
}

.yt-curtain .lity-opened iframe {
    opacity: 0;
    transition: opacity 0.3s linear 0.5s;
}

/*
columns
*/
.yt-gallery-allthumbs.yt-cols- .yt-gallery-thumb {
    width: 100%;
}

.yt-gallery-allthumbs.yt-cols-1 .yt-gallery-thumb {
    width: 100%;
}

.yt-gallery-allthumbs.yt-cols-2 .yt-gallery-thumb {
    width: 50%;
}

.yt-gallery-allthumbs.yt-cols-3 .yt-gallery-thumb {
    width: 33.333%;
}

.yt-gallery-allthumbs.yt-cols-4 .yt-gallery-thumb {
    width: 25%;
}

.yt-gallery-allthumbs.yt-cols-5 .yt-gallery-thumb {
    width: 20%;
}

.yt-gallery-allthumbs.yt-cols-6 .yt-gallery-thumb {
    width: 16.666%;
}

.yt-gallery-allthumbs.yt-cols-7 .yt-gallery-thumb {
    width: 14.285%;
}

.yt-gallery-allthumbs.yt-cols-8 .yt-gallery-thumb {
    width: 12.5%;
}

.yt-gallery-allthumbs.yt-cols-9 .yt-gallery-thumb {
    width: 11.111%;
}

.yt-gallery-allthumbs.yt-cols-10 .yt-gallery-thumb {
    width: 10%;
}

.yt-gallery-allthumbs.yt-cols-11 .yt-gallery-thumb {
    width: 9.09%;
}

.yt-gallery-allthumbs.yt-cols-12 .yt-gallery-thumb {
    width: 8.333%;
}

.yt-gallery-allthumbs.yt-cols-13 .yt-gallery-thumb {
    width: 7.692%;
}

.yt-gallery-allthumbs.yt-cols-14 .yt-gallery-thumb {
    width: 7.142%;
}

.yt-gallery-allthumbs.yt-cols-15 .yt-gallery-thumb {
    width: 6.666%;
}

.yt-gallery-allthumbs.yt-cols-16 .yt-gallery-thumb {
    width: 6.25%;
}

.yt-gallery-allthumbs.yt-cols-17 .yt-gallery-thumb {
    width: 5.882%;
}

.yt-gallery-allthumbs.yt-cols-18 .yt-gallery-thumb {
    width: 5.555%;
}

.yt-gallery-allthumbs.yt-cols-19 .yt-gallery-thumb {
    width: 5.263%;
}

.yt-gallery-allthumbs.yt-cols-20 .yt-gallery-thumb {
    width: 5%;
}

.yt-pagebutton.hide,
.yt-pagenumbers.hide {
    display: none !important;
    opacity: 0 !important;
    visibility: hidden !important;
}

.yt-gallery-subscribe {
    text-align: center;
    padding: 15px 0 10px 0;
    clear: both;
}

.yt-gallery-subscribe a.yt-gallery-subbutton,
.yt-gallery-subscribe a.yt-gallery-subbutton:hover {
    display: inline-block;
    padding: 5px 10px;
    background-color: #e62117 !important;
    color: #ffffff !important;
    text-decoration: none !important;
    border-radius: 3px;
}

.yt-gallery-subscribe a.yt-gallery-subbutton img {
    width: 20px !important;
    height: auto !important;
    vertical-align: middle !important;
    padding: 0 6px 3px 0;
    display: inline-block;
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.tx-ns-youtube .typo3-messages {
    width: 100%;
    margin-top: 10px;
}
.tx-ns-youtube .typo3-messages li {
    list-style-type: none;
    list-style: none;
    /*padding-left: 20px;*/
    width: 100%;
}
.tx-ns-youtube .typo3-messages {
    padding-left: 0px;
}

.yt-gallery-img-box .yt-gallery-img {
    position: relative;
}
.yt-gallery-img-box .yt-gallery-img:after {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: inline-block;
    opacity: 0;
    background-image: url(../Images/playhover.png);
    content: "";
    width: 30px;
    height: 23px;
    background-position: center center;
    background-size: cover;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.yt-gallery-img-box .yt-gallery-img:hover:after {
    opacity: 1;
}

.tx-ns-youtube img {
    max-width: 100%;
}

.tx-ns-youtube ul {
    margin-bottom: 0px;
    text-align: left;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.tx-ns-youtube li {
    list-style-type: none;
    list-style: none;
    width: 100%;
}

.tx-ns-youtube .alert {
    padding: 0px 0px 0px 15px;
    margin-bottom: 0px;
    border: 0px;
    border-radius: 0px;
}

.yt-hide-topbar .ytp-chrome-top.ytp-show-cards-title {
    display: none;
}

.tx-ns-youtube .bg-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.tx-ns-youtube .video-block {
    position: relative;
    padding-bottom: 42.257%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}
.tx-ns-youtube .video-block iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    opacity: 0;
    -webkit-transition: opacity 0.3s ease 0s;
    -moz-transition: opacity 0.3s ease 0s;
    -o-transition: opacity 0.3s ease 0s;
    transition: opacity 0.3s ease 0s;
}
.tx-ns-youtube .play-button {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    background-color:#fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: opacity 0.3s ease 0s;
    -moz-transition: opacity 0.3s ease 0s;
    -o-transition: opacity 0.3s ease 0s;
    transition: opacity 0.3s ease 0s;
    z-index: 2;
}
.tx-ns-youtube .cover-image {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: inherit;
    position: relative;
}
.tx-ns-youtube .cover-image:before {
    content: "";
    background-color: rgba(0, 0, 0, 0.25);
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    -webkit-transition: opacity 0.3s ease 0s;
    -moz-transition: opacity 0.3s ease 0s;
    -o-transition: opacity 0.3s ease 0s;
    transition: opacity 0.3s ease 0s;
}
.tx-ns-youtube .cover-image.video-played iframe {
    opacity: 1;
}
.tx-ns-youtube .cover-image.video-played .play-button,
.tx-ns-youtube .cover-image.video-played:before {
    opacity: 0;
    pointer-events: none;
}
