<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />

	<f:section name="main">

		<div class="error">
			<f:flashMessages />
		</div>

		<div class="yt-gallery" data-currpage="1">
			<f:if condition="{settings.listType}!='single'">
				<f:then>
					<f:if condition="{settings.layout}=='gallery'">
						<f:then>
							<div class="ns_video-gdpr ns_video-gdpr--play-list">
								<f:format.raw>{iframe}</f:format.raw>
								<f:if condition="{settings.enableGdpr} == '1' || {constant.enableGdpr} == '1'">
									<f:then>
										<f:if condition="{backImage} && {settings.enableGdpr} == '1'">
											<f:then>
												<f:variable name="bgimg" value="{f:uri.image(image: '{backImage}', maxHeight:'1200', treatIdAsReference: 1,absolute:'1')}" />
											</f:then>
											<f:else>
												<f:if condition="{constant.bgImage} !== '' ">
													<f:variable name="bgimg" value="{f:uri.image(src: '{constant.bgImage}', maxHeight:'1200', treatIdAsReference: 1,absolute:'1')}" />
												</f:if>
											</f:else>
										</f:if>
										<f:variable name="bgColor">{f:if(condition: '{settings.bgColor}', then: '{settings.bgColor}', else: '{constant.bgColor}')};</f:variable>
										<div class="ns_video-gdpr__notice {f:if(condition: '{bgimg}', then: 'ns_video-gdpr__notice-bg-img')}" style="{f:if(condition: '{bgimg}', then: 'background-image: url({bgimg})', else: 'background-color: {bgColor}')};color:{f:if(condition: '{settings.enableGdpr} && {settings.noticeColor}', then: '{settings.noticeColor}', else: '{constant.noticeColor}')};">
											<div class="ns_video-gdpr__notice-inner">
												<p>{f:if(condition: '{settings.noticeDescription}', then: '{settings.noticeDescription}', else: '{constant.description}')}</p>
												<div class="ns_video-gdpr__notice-btn-wrap">
													<button class="ns_video-gdpr__notice-btn" style="background-color: {f:if(condition: '{settings.buttonColor}', then: '{settings.buttonColor}', else: '{constant.buttonColor}')};color:{f:if(condition: '{settings.buttonTextColor}', then: '{settings.buttonTextColor}', else: '{constant.buttonTextColor}')}">{f:if(condition: '{settings.buttonText}', then: '{settings.buttonText}', else: '{constant.buttonText}')}</button>
													<button class="agreeToAll" style="background-color: {f:if(condition: '{settings.buttonColor}', then: '{settings.buttonColor}', else: '{constant.buttonColor}')};color:{f:if(condition: '{settings.buttonTextColor}', then: '{settings.buttonTextColor}', else: '{constant.buttonTextColor}')}">{f:if(condition: '{settings.activeAllButtonText}', then: '{settings.activeAllButtonText}', else: '{constant.activeAllButtonText}')}</button>
												</div>
											</div>
										</div>
									</f:then>
								</f:if>
							</div>
							<f:if condition="{jsonResult.items}">
								<f:then>
									<f:if condition="{settings.channelsubtext}">
										<div class="yt-gallery-subscribe">
											<f:link.external uri="https://www.youtube.com/channel/{subscibe}?sub_confirmation=1" target="_blank" class="yt-gallery-subbutton">
												<f:image src="EXT:ns_youtube/Resources/Public/Images/play-subscribe.png" alt="subscribe" />{settings.channelsubtext}
											</f:link.external>
										</div>
									</f:if>
									<div class="yt-gallery-list">
										<f:render partial="Youtube/Gallery" arguments="{_all}" />
									</div>
								</f:then>
								<f:else>
									<div class="error">
										<ul>
											<li><f:translate key='gallery_error'/></li>
										</ul>
									</div>
								</f:else>
							</f:if>
							<input type="hidden" value="{f:uri.action(action: 'ajax', controller: 'Youtube', arguments: {settings: settings})}" class="ajaxURL" />
						</f:then>
						<f:else>
							<f:if condition="{iframe}">
								<f:then>
									<div class="ns_video-gdpr ns_video-gdpr--play-list">
										<f:format.raw>{iframe}</f:format.raw>
										<f:if condition="{settings.enableGdpr} == '1' || {constant.enableGdpr} == '1'">
											<f:then>
												<f:if condition="{backImage} && {settings.enableGdpr} == '1'">
													<f:then>
														<f:variable name="bgimg" value="{f:uri.image(image: '{backImage}', maxHeight:'1200', treatIdAsReference: 1,absolute:'1')}" />
													</f:then>
													<f:else>
														<f:if condition="{constant.bgImage} !== '' ">
															<f:variable name="bgimg" value="{f:uri.image(src: '{constant.bgImage}', maxHeight:'1200', treatIdAsReference: 1,absolute:'1')}" />
														</f:if>
													</f:else>
												</f:if>
												<f:variable name="bgColor">{f:if(condition: '{settings.bgColor}', then: '{settings.bgColor}', else: '{constant.bgColor}')};</f:variable>
												<div class="ns_video-gdpr__notice {f:if(condition: '{bgimg}', then: 'ns_video-gdpr__notice-bg-img')}" style="{f:if(condition: '{bgimg}', then: 'background-image: url({bgimg})', else: 'background-color: {bgColor}')};color:{f:if(condition: '{settings.enableGdpr} && {settings.noticeColor}', then: '{settings.noticeColor}', else: '{constant.noticeColor}')};">
													<div class="ns_video-gdpr__notice-inner">
														<p>{f:if(condition: '{settings.noticeDescription}', then: '{settings.noticeDescription}', else: '{constant.description}')}</p>
														<div class="ns_video-gdpr__notice-btn-wrap">
															<button class="ns_video-gdpr__notice-btn" style="background-color: {f:if(condition: '{settings.buttonColor}', then: '{settings.buttonColor}', else: '{constant.buttonColor}')};color:{f:if(condition: '{settings.buttonTextColor}', then: '{settings.buttonTextColor}', else: '{constant.buttonTextColor}')}">{f:if(condition: '{settings.buttonText}', then: '{settings.buttonText}', else: '{constant.buttonText}')}</button>
															<button class="agreeToAll" style="background-color: {f:if(condition: '{settings.buttonColor}', then: '{settings.buttonColor}', else: '{constant.buttonColor}')};color:{f:if(condition: '{settings.buttonTextColor}', then: '{settings.buttonTextColor}', else: '{constant.buttonTextColor}')}">{f:if(condition: '{settings.activeAllButtonText}', then: '{settings.activeAllButtonText}', else: '{constant.activeAllButtonText}')}</button>
														</div>
													</div>
												</div>
											</f:then>
										</f:if>
									</div>

								</f:then>
								<f:else>
									<div class="error">
										<ul>
											<li><f:translate key='playlist_error' /></li>
										</ul>
									</div>
								</f:else>
							</f:if>
						</f:else>
					</f:if>
				</f:then>
				<f:else>
					<f:if condition="{youtubeImage}">
						<f:variable name="img" value="{f:uri.image(image: '{youtubeImage}', maxHeight:'1200', treatIdAsReference: 1,absolute:'1')}" />
					</f:if>
					<f:if condition="{settings.videotype}!='default'">
						<f:then>
							<f:switch expression="{settings.videotype}">
								<f:case value="lightbox">
									<div class="video">
										<div class="ns_cover-image {f:if(condition: '{img}', then: 'bg-image')}" style="{f:if(condition: '{img}', then: 'background-image: url({img})')}">
											<a href="{popupLink}" class="ns_play-button ns_lightbox-button" data-url="{popupLink}" data-fancybox="fancybox{youtubeImage.originalFile.properties.uid}">
												<svg enable-background="new 0 0 512 512" height="80" viewBox="0 0 512 512" width="80" xmlns="http://www.w3.org/2000/svg">
													<path d="m437.02 74.98c-48.353-48.351-112.64-74.98-181.02-74.98s-132.667 26.629-181.02 74.98c-48.351 48.353-74.98 112.64-74.98 181.02s26.629 132.667 74.98 181.02c48.353 48.351 112.64 74.98 181.02 74.98s132.667-26.629 181.02-74.98c48.351-48.353 74.98-112.64 74.98-181.02s-26.629-132.667-74.98-181.02zm-181.02 407.02c-124.617 0-226-101.383-226-226s101.383-226 226-226 226 101.383 226 226-101.383 226-226 226z" />
													<path d="m374.782 243.84-180-130c-4.566-3.298-10.596-3.759-15.611-1.195s-8.171 7.722-8.171 13.355v260c0 5.633 3.156 10.791 8.171 13.355 2.154 1.102 4.495 1.645 6.827 1.645 3.097 0 6.179-.958 8.784-2.84l180-130c3.904-2.82 6.218-7.344 6.218-12.16s-2.312-9.34-6.218-12.16zm-173.782 112.824v-201.328l139.381 100.664z" />
												</svg>
											</a>
											<f:switch expression="{settings.widthtype}">
												<f:case value="0"><div class="ns_video-block"></f:case>
												<f:case value="1"><div class="ns_video-block ns-ratio__1-1"></f:case>
												<f:case value="2"><div class="ns_video-block ns-ratio__1-2"></f:case>
												<f:case value="3"><div class="ns_video-block ns-ratio__2-1"></f:case>
												<f:case value="4"><div class="ns_video-block ns-ratio__3-2"></f:case>
												<f:case value="5"><div class="ns_video-block ns-ratio__4-3"></f:case>
												<f:case value="6"><div class="ns_video-block ns-ratio__5-4"></f:case>
												<f:case value="7"><div class="ns_video-block ns-ratio__21-9"></f:case>
												<f:defaultCase><div class="ns_video-block"></f:defaultCase>
											</f:switch>
                                            </div>
                                        </div>
                                    </div>
								</f:case>
								<f:case value="splash">
									<div class="video">
										<div class="ns_cover-image {f:if(condition: '{img}', then: 'bg-image')}" style="{f:if(condition: '{img}', then: 'background-image: url({img})')}">
											<a href="javascript:;" class="ns_play-button splash-button" data-url="{popupLink}" data-gdpr="{f:if(condition: '{settings.enableGdpr}||{constant.enableGdpr}', then: '1')}">
												<svg enable-background="new 0 0 512 512" height="80" viewBox="0 0 512 512" width="80" xmlns="http://www.w3.org/2000/svg">
													<path d="m437.02 74.98c-48.353-48.351-112.64-74.98-181.02-74.98s-132.667 26.629-181.02 74.98c-48.351 48.353-74.98 112.64-74.98 181.02s26.629 132.667 74.98 181.02c48.353 48.351 112.64 74.98 181.02 74.98s132.667-26.629 181.02-74.98c48.351-48.353 74.98-112.64 74.98-181.02s-26.629-132.667-74.98-181.02zm-181.02 407.02c-124.617 0-226-101.383-226-226s101.383-226 226-226 226 101.383 226 226-101.383 226-226 226z" />
													<path d="m374.782 243.84-180-130c-4.566-3.298-10.596-3.759-15.611-1.195s-8.171 7.722-8.171 13.355v260c0 5.633 3.156 10.791 8.171 13.355 2.154 1.102 4.495 1.645 6.827 1.645 3.097 0 6.179-.958 8.784-2.84l180-130c3.904-2.82 6.218-7.344 6.218-12.16s-2.312-9.34-6.218-12.16zm-173.782 112.824v-201.328l139.381 100.664z" />
												</svg>
											</a>
											<f:switch expression="{settings.widthtype}">
												<f:case value="0"><div class="ns_video-gdpr ns_video-block"></f:case>
												<f:case value="1"><div class="ns_video-gdpr ns_video-block ns-ratio__1-1"></f:case>
												<f:case value="2"><div class="ns_video-gdpr ns_video-block ns-ratio__1-2"></f:case>
												<f:case value="3"><div class="ns_video-gdpr ns_video-block ns-ratio__2-1"></f:case>
												<f:case value="4"><div class="ns_video-gdpr ns_video-block ns-ratio__3-2"></f:case>
												<f:case value="5"><div class="ns_video-gdpr ns_video-block ns-ratio__4-3"></f:case>
												<f:case value="6"><div class="ns_video-gdpr ns_video-block ns-ratio__5-4"></f:case>
												<f:case value="7"><div class="ns_video-gdpr ns_video-block ns-ratio__21-9"></f:case>
												<f:defaultCase><div class="ns_video-gdpr ns_video-block"></f:defaultCase>
											</f:switch>
												<f:format.raw>{iframe}</f:format.raw>
												<f:if condition="{settings.enableGdpr} == '1' || {constant.enableGdpr} == '1'">
													<f:then>
														<f:if condition="{backImage} && {settings.enableGdpr} == '1'">
															<f:then>
																<f:variable name="bgimg" value="{f:uri.image(image: '{backImage}', maxHeight:'1200', treatIdAsReference: 1,absolute:'1')}" />
															</f:then>
															<f:else>
																<f:if condition="{constant.bgImage} !== '' ">
																	<f:variable name="bgimg" value="{f:uri.image(src: '{constant.bgImage}', maxHeight:'1200', treatIdAsReference: 1,absolute:'1')}" />
																</f:if>
															</f:else>
														</f:if>
														<f:variable name="bgColor">{f:if(condition: '{settings.bgColor}', then: '{settings.bgColor}', else: '{constant.bgColor}')};</f:variable>
														<div class="ns_video-gdpr__notice {f:if(condition: '{bgimg}', then: 'ns_video-gdpr__notice-bg-img')}" style="{f:if(condition: '{bgimg}', then: 'background-image: url({bgimg})', else: 'background-color: {bgColor}')};color:{f:if(condition: '{settings.enableGdpr} && {settings.noticeColor}', then: '{settings.noticeColor}', else: '{constant.noticeColor}')};">
															<div class="ns_video-gdpr__notice-inner">
																<p>{f:if(condition: '{settings.noticeDescription}', then: '{settings.noticeDescription}', else: '{constant.description}')}</p>
																<div class="ns_video-gdpr__notice-btn-wrap">
																	<button class="ns_video-gdpr__notice-btn" style="background-color: {f:if(condition: '{settings.buttonColor}', then: '{settings.buttonColor}', else: '{constant.buttonColor}')};color:{f:if(condition: '{settings.buttonTextColor}', then: '{settings.buttonTextColor}', else: '{constant.buttonTextColor}')}">{f:if(condition: '{settings.buttonText}', then: '{settings.buttonText}', else: '{constant.buttonText}')}</button>
																	<button class="agreeToAll" style="background-color: {f:if(condition: '{settings.buttonColor}', then: '{settings.buttonColor}', else: '{constant.buttonColor}')};color:{f:if(condition: '{settings.buttonTextColor}', then: '{settings.buttonTextColor}', else: '{constant.buttonTextColor}')}">{f:if(condition: '{settings.activeAllButtonText}', then: '{settings.activeAllButtonText}', else: '{constant.activeAllButtonText}')}</button>
																</div>
															</div>
														</div>
													</f:then>
												</f:if>
											</div>
										</div>
									</div>
								</f:case>
								<f:case value="text">
									<a href="{popupLink}" data-fancybox class="ns_lightbox-button ns_text-lightbox" data-url="{popupLink}">
										{f:if(condition: settings.lightboxtext, then: '{settings.lightboxtext}', else: 'YouTube Video')}
									</a>
								</f:case>
								<f:defaultCase>
									<div class="video">
										<div class="ns_cover-image {f:if(condition: '{img}', then: 'bg-image')}" style="{f:if(condition: '{img}', then: 'background-image: url({img})')}">
											<f:link.typolink parameter="{settings.videourl}" additionalAttributes="{data-fancybox:'fancybox{youtubeImage.originalFile.properties.uid}', data-url='{popupLink}'}" class="ns_play-button">
												<svg enable-background="new 0 0 512 512" height="80" viewBox="0 0 512 512" width="80" xmlns="http://www.w3.org/2000/svg">
													<path d="m437.02 74.98c-48.353-48.351-112.64-74.98-181.02-74.98s-132.667 26.629-181.02 74.98c-48.351 48.353-74.98 112.64-74.98 181.02s26.629 132.667 74.98 181.02c48.353 48.351 112.64 74.98 181.02 74.98s132.667-26.629 181.02-74.98c48.351-48.353 74.98-112.64 74.98-181.02s-26.629-132.667-74.98-181.02zm-181.02 407.02c-124.617 0-226-101.383-226-226s101.383-226 226-226 226 101.383 226 226-101.383 226-226 226z" />
													<path d="m374.782 243.84-180-130c-4.566-3.298-10.596-3.759-15.611-1.195s-8.171 7.722-8.171 13.355v260c0 5.633 3.156 10.791 8.171 13.355 2.154 1.102 4.495 1.645 6.827 1.645 3.097 0 6.179-.958 8.784-2.84l180-130c3.904-2.82 6.218-7.344 6.218-12.16s-2.312-9.34-6.218-12.16zm-173.782 112.824v-201.328l139.381 100.664z" />
												</svg>
											</f:link.typolink>
											<f:switch expression="{settings.widthtype}">
												<f:case value="0"><div class="ns_video-block"></f:case>
												<f:case value="1"><div class="ns_video-block ns-ratio__1-1"></f:case>
												<f:case value="2"><div class="ns_video-block ns-ratio__1-2"></f:case>
												<f:case value="3"><div class="ns_video-block ns-ratio__2-1"></f:case>
												<f:case value="4"><div class="ns_video-block ns-ratio__3-2"></f:case>
												<f:case value="5"><div class="ns_video-block ns-ratio__4-3"></f:case>
												<f:case value="6"><div class="ns_video-block ns-ratio__5-4"></f:case>
												<f:case value="7"><div class="ns_video-block ns-ratio__21-9"></f:case>
												<f:defaultCase><div class="ns_video-block"></f:defaultCase>
											</f:switch>
											</div>
										</div>
									</div>
								</f:defaultCase>
							</f:switch>
						</f:then>
						<f:else>
							<f:if condition="{iframe}">
								<f:then>
									<f:switch expression="{settings.widthtype}">
										<f:case value="0"><div class="ns_video-gdpr ns_video-block ns_simple-video"></f:case>
										<f:case value="1"><div class="ns_video-gdpr ns_video-block ns_simple-video ns-ratio__1-1"></f:case>
										<f:case value="2"><div class="ns_video-gdpr ns_video-block ns_simple-video ns-ratio__1-2"></f:case>
										<f:case value="3"><div class="ns_video-gdpr ns_video-block ns_simple-video ns-ratio__2-1"></f:case>
										<f:case value="4"><div class="ns_video-gdpr ns_video-block ns_simple-video ns-ratio__3-2"></f:case>
										<f:case value="5"><div class="ns_video-gdpr ns_video-block ns_simple-video ns-ratio__4-3"></f:case>
										<f:case value="6"><div class="ns_video-gdpr ns_video-block ns_simple-video ns-ratio__5-4"></f:case>
										<f:case value="7"><div class="ns_video-gdpr ns_video-block ns_simple-video ns-ratio__21-9"></f:case>
										<f:defaultCase><div class="ns_video-gdpr ns_video-gdpr ns_video-block ns_simple-video"></div></f:defaultCase>
									</f:switch>
										<f:format.raw>{iframe}</f:format.raw>
										<f:if condition="{settings.enableGdpr} == '1' || {constant.enableGdpr} == '1'">
											<f:then>
												<f:if condition="{backImage} && {settings.enableGdpr} == '1'">
													<f:then>
														<f:variable name="bgimg" value="{f:uri.image(image: '{backImage}', maxHeight:'1200', treatIdAsReference: 1,absolute:'1')}" />
													</f:then>
													<f:else>
														<f:if condition="{constant.bgImage} !== '' ">
															<f:variable name="bgimg" value="{f:uri.image(src: '{constant.bgImage}', maxHeight:'1200', treatIdAsReference: 1,absolute:'1')}" />
														</f:if>
													</f:else>
												</f:if>
												<f:variable name="bgColor">{f:if(condition: '{settings.bgColor}', then: '{settings.bgColor}', else: '{constant.bgColor}')};</f:variable>
												<div class="ns_video-gdpr__notice {f:if(condition: '{bgimg}', then: 'ns_video-gdpr__notice-bg-img')}" style="{f:if(condition: '{bgimg}', then: 'background-image: url({bgimg})', else: 'background-color: {bgColor}')};color:{f:if(condition: '{settings.enableGdpr} && {settings.noticeColor}', then: '{settings.noticeColor}', else: '{constant.noticeColor}')};">
													<div class="ns_video-gdpr__notice-inner">
														<p>{f:if(condition: '{settings.noticeDescription}', then: '{settings.noticeDescription}', else: '{constant.description}')}</p>
														<div class="ns_video-gdpr__notice-btn-wrap">
															<button class="ns_video-gdpr__notice-btn" style="background-color: {f:if(condition: '{settings.buttonColor}', then: '{settings.buttonColor}', else: '{constant.buttonColor}')};color:{f:if(condition: '{settings.buttonTextColor}', then: '{settings.buttonTextColor}', else: '{constant.buttonTextColor}')}">{f:if(condition: '{settings.buttonText}', then: '{settings.buttonText}', else: '{constant.buttonText}')}</button>
															<button class="agreeToAll" style="background-color: {f:if(condition: '{settings.buttonColor}', then: '{settings.buttonColor}', else: '{constant.buttonColor}')};color:{f:if(condition: '{settings.buttonTextColor}', then: '{settings.buttonTextColor}', else: '{constant.buttonTextColor}')}">{f:if(condition: '{settings.activeAllButtonText}', then: '{settings.activeAllButtonText}', else: '{constant.activeAllButtonText}')}</button>
														</div>
													</div>
												</div>
											</f:then>
										</f:if>
									</div>
								</f:then>
								<f:else>
									<div class="error">
										<ul>
											<li><f:translate key='video_error' /></li>
										</ul>
									</div>
								</f:else>
							</f:if>
						</f:else>
					</f:if>
				</f:else>
			</f:if>
		</div>
	</f:section>
</html>